@import url(http://fonts.googleapis.com/css?family=Pacifico);

/* Helvetica Styles */

$thin: 'HelveticaNeueW01-Thin';
$thinit: 'HelveticaNeueW01-ThinIt';
$light: 'HelveticaNeueW01-45Ligh';
$lightit: 'HelveticaNeueW01-46Ligh';
$regular: 'HelveticaNeueW01-55Roma';
$italic: 'HelveticaNeueW01-56It';
$bold: 'HelveticaNeueW01-75Bold';
$boldit: 'HelveticaNeueW01-76Bold';

/* Others */

$novecento: 'Novecento Sans W01 Wd Bd';
$pacifico: 'Pacifico', cursive;

a {
	text-decoration: none;
}
